@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.logo {
    width: 450px;
    height: auto;
}

.button-primary {
    background: white;
    box-shadow: rgba(100, 100, 100, 0.555) 3px 3px 5px;
    font-family: 'Gloria Hallelujah', cursive;
    color: orangered;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
}